[DEFAULT]
use_journal = True
# Disable stderr logging
use_stderr = False
debug = {{ debug }}

{% if designate_ceilometer_enabled | bool %}
notification_driver = messagingv2
{% endif %}

root_helper = sudo designate-rootwrap /etc/designate/rootwrap.conf
transport_url = {{ designate_oslomsg_rpc_transport }}://{% for host in designate_oslomsg_rpc_servers.split(',') %}{{ designate_oslomsg_rpc_userid }}:{{ designate_oslomsg_rpc_password }}@{{ host }}:{{ designate_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ _designate_oslomsg_rpc_vhost_conf }}{% if designate_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ designate_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ designate_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[oslo_messaging_rabbit]
ssl = {{ designate_oslomsg_rpc_use_ssl }}
rabbit_notification_exchange = designate
rabbit_notification_topic = notifications
rabbit_quorum_queue = {{ designate_oslomsg_rabbit_quorum_queues }}
rabbit_transient_quorum_queue = {{ designate_oslomsg_rabbit_transient_quorum_queues }}
rabbit_qos_prefetch_count = {{ designate_oslomsg_rabbit_qos_prefetch_count }}
use_queue_manager = {{ designate_oslomsg_rabbit_queue_manager }}
{% if designate_oslomsg_rabbit_queue_manager %}
hostname = {{ [ansible_facts['hostname'], designate_service_name] | join('-') }}
{% endif %}
rabbit_stream_fanout = {{ designate_oslomsg_rabbit_stream_fanout }}
rabbit_quorum_delivery_limit = {{ designate_oslomsg_rabbit_quorum_delivery_limit }}
rabbit_quorum_max_memory_bytes = {{ designate_oslomsg_rabbit_quorum_max_memory_bytes }}

[oslo_messaging_notifications]
driver = {{ (designate_oslomsg_notify_configure | bool) | ternary('messagingv2', 'noop') }}
transport_url = {{ designate_oslomsg_notify_transport }}://{% for host in designate_oslomsg_notify_servers.split(',') %}{{ designate_oslomsg_notify_userid }}:{{ designate_oslomsg_notify_password }}@{{ host }}:{{ designate_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ _designate_oslomsg_notify_vhost_conf }}{% if designate_oslomsg_notify_use_ssl | bool %}?ssl=1&ssl_version={{ designate_oslomsg_notify_ssl_version }}&ssl_ca_file={{ designate_oslomsg_notify_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

{% if designate_backend_ssl | bool %}
[ssl]
cert_file = {{ designate_ssl_cert }}
key_file = {{ designate_ssl_key }}
{% endif %}

[service:central]
workers = {{ designate_services['designate-central']['workers'] }}
default_pool_id = {{ designate_pool_uuid }}
managed_resource_tenant_id = {{ designate_managed_resource_tenant_id }}

[service:api]
enable_host_header = True
api_base_uri = "{{ designate_service_publicuri }}"
auth_strategy = keystone
enable_api_v2 = True
enabled_extensions_v2 = quotas, reports
enable_api_admin = False
pecan_debug = {{ debug }}

[keystone_authtoken]

insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_type = {{ designate_keystone_auth_type }}
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_publicuri }}
project_domain_id = {{ designate_service_project_domain_id }}
user_domain_id = {{ designate_service_user_domain_id }}
project_name = {{ designate_service_project_name }}
username = {{ designate_service_user_name }}
password = {{ designate_service_password }}

service_token_roles_required = {{ designate_service_token_roles_required | bool }}
service_token_roles = {{ designate_service_token_roles | join(',') }}
service_type = {{ designate_service_type }}

memcached_servers = {{ designate_memcached_servers }}

[service:sink]
workers = {{ designate_services['designate-sink']['workers'] }}

[service:mdns]
workers = {{ designate_services['designate-mdns']['workers'] }}

[service:producer]
workers = {{ designate_services['designate-producer']['workers'] }}

[producer_task:delayed_notify]

[producer_task:worker_periodic_recovery]

[service:worker]
enabled = True
workers = {{ designate_services['designate-worker']['workers'] }}
notify = True

[network_api:neutron]
endpoint_type = internalURL

[storage:sqlalchemy]
connection = mysql+pymysql://{{ designate_galera_user }}:{{ designate_galera_password }}@{{ designate_galera_address }}:{{ designate_galera_port }}/{{ designate_galera_database }}?charset=utf8{% if designate_galera_use_ssl | bool %}&ssl_verify_cert=true{% if designate_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ designate_galera_ssl_ca_cert }}{% endif %}{% endif +%}
max_overflow = {{ designate_db_max_overflow }}
max_pool_size = {{ designate_db_max_pool_size }}
pool_timeout = {{ designate_db_pool_timeout }}
connection_recycle_time = {{ designate_db_connection_recycle_time }}

[handler:nova_fixed]
# Domain ID of domain to create records in. Should be pre-created
#domain_id =
#notification_topics = notifications
#control_exchange = 'nova'
##Following https://docs.openstack.org/releasenotes/designate/pike.html#critical-issues
#formatv4 = '%(octet0)s-%(octet1)s-%(octet2)s-%(octet3)s.%(zone)s'
#formatv4 = '%(hostname)s.%(project)s.%(zone)s'
#formatv4 = '%(hostname)s.%(zone)s'
#formatv6 = '%(hostname)s.%(project)s.%(zone)s'
#formatv6 = '%(hostname)s.%(zone)s'

[handler:neutron_floatingip]
# Domain ID of domain to create records in. Should be pre-created
#domain_id =
#notification_topics = notifications
#control_exchange = 'neutron'
##Following https://docs.openstack.org/releasenotes/designate/pike.html#critical-issues
#formatv4 = '%(octet0)s-%(octet1)s-%(octet2)s-%(octet3)s.%(zone)s'
#formatv4 = '%(hostname)s.%(project)s.%(zone)s'
#formatv4 = '%(hostname)s.%(zone)s'
#formatv6 = '%(hostname)s.%(project)s.%(zone)s'
#formatv6 = '%(hostname)s.%(zone)s'

{% if designate_services['designate-api']['group'] in group_names %}
[oslo_concurrency]
lock_path = {{ designate_lock_dir }}/{{ designate_services['designate-api']['service_name'] }}/uwsgi
{% endif %}

[oslo_middleware]
enable_proxy_headers_parsing = true

{% if designate_coordination_enable %}
[coordination]
backend_url = {{ designate_coordination_url }}
{% endif %}
